---
import Layout from "../../layouts/Layout.astro";

import { contentfulClient } from "../../lib/contentful";

async function getPostBySlug(slug) {
  const entries = await contentfulClient.getEntries({
    content_type: "post",
    "fields.slug": slug,
    limit: 1,
  });

  return entries.items.length > 0 ? entries.items[0] : null;
}

const { slug } = Astro.params;
const post = await getPostBySlug(slug);
---

<Layout title="Posts">
  <section class="my-24">
    <div class="container mx-auto px-4 md:px-12 lg:px-24 xl:px-48">
      <figure class="">
        <img
          class="rounded-xl mx-auto aspect-video object-cover"
          src={post?.fields.heroImage.fields.file.url}
          alt=""
        />
        <figcaption class="text-white pt-2">Credits: @pepito</figcaption>
      </figure>
      <div class="mx-auto px-4 md:px-6 lg:px-12 xl:px-24">
        {
          post ? (
            <div>
              <h1 class="text-gray-400 text-7xl mt-7">{post.fields.title}</h1>
              <div class="text-white">
                <p class="my-10 tracking-wide leading-7">{post.fields.body}</p>
                <p>Author: {post.fields.author.fields.name}</p>
              </div>
            </div>
          ) : (
            <p class="text-white">Post not found</p>
          )
        }
        <div class="text-white">Share</div>
      </div>
    </div>
  </section>
</Layout>
