---
import Layout from "../../layouts/Layout.astro";
import CardStories from "../../components/CardStories.astro";

import { contentfulClient } from "../../lib/contentful";
import type { Posts } from "../../lib/contentful";

const entries = await contentfulClient.getEntries<Posts>({
  content_type: "post",
});
---

<Layout title="Posts">
  <section class="my-24">
    <div class="container mx-auto min-w-12">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {entries.items.map((item) => <CardStories title={item.fields.title} />)}
      </div>
    </div>
  </section>
</Layout>
