---

---

<header class="px-4 shadow-black text-white">
  <nav class="flex items-center justify-between">
    <h2><a href="/">Unboxthem</a></h2>
    <div class="internal-links">
      <a
        class="py-4 px-2 no-underline border-b-4 border-b-[var(--secondary-100)] active:border-b-white"
        href="/">Home</a
      >
      <a class="py-4 px-2 no-underline" href="/send">Send your story</a>
    </div>
    <div class="social-links flex">
      <a
        class="py-4 px-2"
        href="https://twitter.com/astrodotbuild"
        target="_blank"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M4 4l11.733 16h4.267l-11.733 -16z"></path><path
            d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path></svg
        >
      </a>
      <a class="py-4 px-2" href="">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-search"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path
            d="M21 21l-6 -6"></path></svg
        >
      </a>
    </div>
  </nav>
</header>
