---

---

<footer class="border-t-2" style="border-color: var(--secondary-100);">
  <div class="container mx-auto px-4 md:px-12 lg:px-24 xl:px-48">
    <nav>
      <ul class="flex justify-center text-white pt-10">
        <li class="px-3"><a href="/about">About</a></li>
        <!-- <li class="px-3"><a href="/blog">Blog</a></li> -->
        <!-- <li class="px-3"><a href="/jobs">Jobs</a></li> -->
        <!-- <li class="px-3"><a href="/press">Press</a></li> -->
        <!-- <li class="px-3"><a href="/accessibility">Accessibility</a></li> -->
        <!-- <li class="px-3"><a href="/partners">Partners</a></li> -->
      </ul>
    </nav>
    <div>
      <ul class="flex justify-center text-white">
        <li class="px-3">
          <a class="py-4 px-2" href="/instagram"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
              ></path><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"
              ></path><path d="M16.5 7.5l0 .01"></path></svg
            ></a
          >
        </li>
        <li class="px-3">
          <a
            class="py-4 px-2"
            href="https://twitter.com/unboxthem"
            target="_blank"
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 4l11.733 16h4.267l-11.733 -16z"></path><path
                d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path></svg
            >
          </a>
        </li>
      </ul>
    </div>
    <div class="text-white flex justify-center mb-10">
      © 2024 Unboxthem. All rights reserved.
    </div>
  </div>
</footer>
