---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
const activeClass = isActive
  ? "border-b-[var(--secondary-100)]"
  : "border-b-4 border-transparent";
const baseClass = `py-4 px-2 no-underline border-b-4 ${activeClass}`;
---

<a href={href} class:list={`${baseClass} ${className}`} {...props}>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
</style>
