---
import { Image } from "astro:assets";
import logo from "../assets/img/AW.jpg";
---

<section class="my-24">
  <div class="container mx-auto min-w-12">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 lg:items-start">
        <h1 class="text-white text-center text-6xl md:text-left lg:text-8xl">
          <slot>
            Be part of the <span class="text-gradient"
              >first 10 posts
            </span>delving into the world of adult industry.
          </slot>
        </h1>
        <a href="mailto:contact.unboxthem@gmail.com">
          <button
            type="button"
            href="mailto:contact.unboxthem@gmail.com"
            class="w-fit text-white bg-[var(--secondary-100)] border-0 text-xl rounded-lg px-5 py-2.5 text-center me-2 mb-2"
          >
            Participate
          </button>
        </a>
      </div>
      <Image
        class="hidden lg:block object-cover h-full"
        src={logo}
        alt=""
        decoding="async"
      />
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(
      315deg,
      var(--primary-200) 25%,
      var(--secondary-500)
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(
      315deg,
      var(--primary-200) 25%,
      var(--secondary-400)
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
